body{
	background-color: #EEE;
}
nav img{
	max-width: 37px;
	margin-top: 6px;
}

nav button{
	margin-top: 7px;
	margin-left: 10px;
}

.container-small{
	background-color: white;
	border-radius: 5px;
	max-width: 730px;
  	border-bottom: 1px solid #e5e5e5;
}

.info{
	text-align: center;
}

.lista-li :hover{
	background-color: #16a085;
}

.lista-li a{
	background-color: #1abc9c;
	border-radius: 2px;
	padding: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #16a085;
	margin-top: 5px;
	color: white;
	width: 100%;
	display: block;
}